<div class="container">
    <mat-form-field>
        <input matInput type="text" placeholder="Filter" [(ngModel)]="value">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <!-- <button (click)="postCaracter()" >test</button> -->

      
    <mat-table [dataSource]="caracter">
        <ng-container matColumnDef="idCaracter">
            <!-- Id Column -->
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let caracter" routerLink="/caracter/{{caracter.idCaracter}}" routerLinkActive="router-link-active"  > {{caracter.idCaracter}} </mat-cell>          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let caracter"> {{caracter.name}} </mat-cell>
          </ng-container>
        
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let caracter"> {{caracter.describeCaracter}} </mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>