<div *ngIf="stuff" class="contener">
    <h2> {{stuff.stuff.name}} </h2>

    <p> {{stuff.stuff.describStuff}} </p>

    <h3>Bonus Points</h3>
    <mat-list>
        <mat-list-item> Maki x{{stuff.stuff.pointMaki | number : fractionSize}} </mat-list-item>
        <mat-list-item> Brochette x{{stuff.stuff.pointBrochette | number : fractionSize}} </mat-list-item>
        <mat-list-item> Sushi x{{stuff.stuff.pointSushi | number : fractionSize}} </mat-list-item>
        <mat-list-item> Sashimi x{{stuff.stuff.pointSashimi | number : fractionSize}} </mat-list-item>
    </mat-list>
    <h3>Bonus Time</h3>
    <mat-list>
        <mat-list-item> /{{stuff.stuff.timeMaki | number : fractionSize}} </mat-list-item>
        <mat-list-item> /{{stuff.stuff.timeBrochette | number : fractionSize}} </mat-list-item>
        <mat-list-item> /{{stuff.stuff.timeSushi | number : fractionSize}} </mat-list-item>
        <mat-list-item> /{{stuff.stuff.timeSashimi | number : fractionSize}} </mat-list-item>
    </mat-list>

</div>