<div *ngIf="stuff" class="container">
    <h2> {{stuff.name}} </h2>

    <p> {{stuff.describStuff}} </p>

    <h3>Bonus Points</h3>
    <mat-list>
        <mat-list-item> Maki x {{stuff.pointMaki | number : fractionSize}} </mat-list-item>
        <mat-list-item> Brochette x {{stuff.pointBrochette | number : fractionSize}} </mat-list-item>
        <mat-list-item> Sushi x {{stuff.pointSushi | number : fractionSize}} </mat-list-item>
        <mat-list-item> Sashimi x {{stuff.pointSashimi | number : fractionSize}} </mat-list-item>
    </mat-list>
    <h3>Bonus Time</h3>
    <mat-list>
        <mat-list-item> Maki / {{stuff.timeMaki | number : fractionSize}} </mat-list-item>
        <mat-list-item> Brochette / {{stuff.timeBrochette | number : fractionSize}} </mat-list-item>
        <mat-list-item> Sushi / {{stuff.timeSushi | number : fractionSize}} </mat-list-item>
        <mat-list-item> Sashimi / {{stuff.timeSashimi | number : fractionSize}} </mat-list-item>
    </mat-list>
    <h3>Bonus Saturation</h3>
    <mat-list>
        <mat-list-item> Saturation / {{stuff.saturation | number : fractionSize}} </mat-list-item>
    </mat-list>
</div>