<!-- Create a home-contact and modify this one -->
<div class="container">
    <div fxLayout="row wrap" 
    fxLayout.lt-sm="column" 
    fxLayoutGap="32px">
        <mat-form-field fxFlex>
            <input matInput placeholder="First Name" #firstname>
        </mat-form-field>
        <mat-form-field fxFlex>
            <input matInput placeholder="Last Name" #lastname>
        </mat-form-field>
    </div>
    <form>
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Email" [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher" #emailadresse>
            <mat-hint></mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong> to send your message
            </mat-error>
        </mat-form-field>
    </form>
    <mat-form-field style="width: 100%">
        <input matInput placeholder="Message Subject" #subject>
    </mat-form-field>
    <mat-form-field  style="width: 100%;" appearance="outline">
        <textarea matInput cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="20"
        cdkAutosizeMaxRows="40"
        placeholder="Your message to the AOSC" #message></textarea>
    </mat-form-field>
    <button mat-raised-button (click)="sendMsg(emailadresse.value, firstname.value, lastname.value, subject.value, message.value)" style="width: 100%" >Send</button>
</div>