<!-- Create a home-contact and modify this one -->
<div class="container">
    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Pseudo" formControlName="username">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="PassWord" formControlName="password">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="PassWord">
                    </mat-form-field>
                </div>
                    <mat-form-field>
                        <input matInput placeholder="Email" [formControl]="emailFormControl"
                            [errorStateMatcher]="matcher" #email>
                        <mat-hint></mat-hint>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong> to register
                        </mat-error>
                    </mat-form-field>

                <div class="button">
                    <button type="submit" mat-button>Register</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>